@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--container-8xl: 80rem;
}

:root {
	--ui-container: var(--container-8xl);
}

html,
body,
#__nuxt {
	height: 100%;
}

#__nuxt {
	display: grid;
	grid-template-rows: auto 1fr auto;
}
